In [1]:
# Importing packages 

import pandas as pd
import numpy as np

In [2]:
# Reading data in from Worlds File

raw_world_data = pd.read_csv('./2017-worlds-match-data-OraclesElixir-2017-11-05.csv')
print(raw_world_data.shape)
raw_world_data.head()

(1428, 92)

,gameid,url,league,split,date,week,game,patchno,playerid,side,...,cspm,goldat10,oppgoldat10,gdat10,goldat15,oppgoldat15,gdat15,xpat10,oppxpat10,xpdat10
0,1002360213,http://matchhistory.na.leagueoflegends.com/en/...,WC,2017-W,43001.00184,1.1,1,7.18,1,Blue,...,6.063604,3349,3153,196,4880,4788,92,5025,4556,469
1,1002360213,http://matchhistory.na.leagueoflegends.com/en/...,WC,2017-W,43001.00184,1.1,1,7.18,2,Blue,...,3.625442,2956,2667,289,4323,4234,89,3318,3332,-14
2,1002360213,http://matchhistory.na.leagueoflegends.com/en/...,WC,2017-W,43001.00184,1.1,1,7.18,3,Blue,...,9.222615,3140,3875,-735,5147,5799,-652,4592,5083,-491
3,1002360213,http://matchhistory.na.leagueoflegends.com/en/...,WC,2017-W,43001.00184,1.1,1,7.18,4,Blue,...,9.180212,3142,3230,-88,5372,5176,196,3112,3081,31
4,1002360213,http://matchhistory.na.leagueoflegends.com/en/...,WC,2017-W,43001.00184,1.1,1,7.18,5,Blue,...,0.318021,2533,2051,482,4256,3300,956,3053,2882,171

In [3]:
# Checking out our data 
raw_world_data.describe()

,gameid,date,patchno,playerid,gamelength,result,k,d,a,teamkills,...,cspm,goldat10,oppgoldat10,gdat10,goldat15,oppgoldat15,gdat15,xpat10,oppxpat10,xpdat10
count,1.428000e+03,1428.000000,1.428000e+03,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,...,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.000000,1428.00000
mean,1.002365e+09,43017.109055,7.180000e+00,29.583333,35.070448,0.500000,3.250700,3.254902,8.501401,9.752101,...,10.582675,5077.022409,5077.022409,0.000000,8016.110644,8016.110644,0.000000,6059.015406,6059.015406,0.00000
std,3.209126e+04,11.398375,1.466008e-13,57.670664,8.816658,0.500175,4.263258,4.026995,10.803883,5.848247,...,10.042971,4577.370251,4577.370251,669.652407,7240.936995,7240.936995,1289.023865,5485.736971,5485.736971,584.31814
min,1.002290e+09,43001.001840,7.180000e+00,1.000000,20.866667,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.047923,1744.000000,1744.000000,-3765.000000,2629.000000,2629.000000,-7754.000000,1664.000000,1664.000000,-3247.00000
25%,1.002360e+09,43006.047620,7.180000e+00,3.750000,27.483333,0.000000,0.000000,1.000000,2.000000,6.000000,...,4.154415,2875.750000,2875.750000,-285.000000,4442.000000,4442.000000,-487.250000,3028.500000,3028.500000,-294.00000
50%,1.002380e+09,43016.175090,7.180000e+00,6.500000,33.183333,0.500000,2.000000,2.000000,5.000000,10.000000,...,8.440162,3209.000000,3209.000000,0.000000,5060.000000,5060.000000,0.000000,3797.000000,3797.000000,0.00000
75%,1.002390e+09,43023.150650,7.180000e+00,9.250000,40.350000,1.000000,4.000000,4.000000,9.000000,13.000000,...,10.217659,3563.500000,3563.500000,285.000000,5709.000000,5709.000000,487.250000,4817.250000,4817.250000,294.00000
max,1.002410e+09,43043.169930,7.180000e+00,200.000000,61.816667,1.000000,38.000000,38.000000,82.000000,38.000000,...,38.083183,18310.000000,18310.000000,3765.000000,28636.000000,28636.000000,7754.000000,20074.000000,20074.000000,3247.00000

In [4]:
# Since count is the same for all lets check to make sure there are no 
# out of bounds values

raw_world_data.isnull().any()

gameid                     False
url                        False
league                     False
split                      False
date                       False
week                       False
game                       False
patchno                    False
playerid                   False
side                       False
position                   False
player                     False
team                       False
champion                   False
ban1                       False
ban2                       False
ban3                       False
ban4                       False
ban5                       False
gamelength                 False
result                     False
k                          False
d                          False
a                          False
teamkills                  False
teamdeaths                 False
doubles                    False
triples                    False
quadras                    False
pentas                     False
                           ...
dmgtochampsperminute       False
dmgshare                   False
earnedgoldshare            False
wards                      False
wpm                        False
wardshare                  False
wardkills                  False
wcpm                       False
visionwards                False
visionwardbuys             False
visiblewardclearrate        True
invisiblewardclearrate     False
totalgold                  False
earnedgpm                  False
goldspent                  False
gspd                       False
minionkills                False
monsterkills               False
monsterkillsownjungle      False
monsterkillsenemyjungle    False
cspm                       False
goldat10                   False
oppgoldat10                False
gdat10                     False
goldat15                   False
oppgoldat15                False
gdat15                     False
xpat10                     False
oppxpat10                  False
xpdat10                    False
Length: 92, dtype: bool

In [5]:
# There was a null value in Visible ward clear rate. Lets see what that looks like

raw_world_data['visiblewardclearrate']

0
1
2
3
4
5
6
7
8
9
10      0.741935484
11      0.571428571
12
13
14
15
16
17
18
19
20
21
22      0.722222222
23            0.375
24
25
26
27
28
29
           ...
1398
1399
1400
1401
1402    0.789473684
1403    0.470588235
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414    0.828571429
1415    0.490909091
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426            0.6
1427            0.5
Name: visiblewardclearrate, Length: 1428, dtype: object

In [6]:
# This appears to be team values that are not player related so 
# All team rows have Team as position so lets select those
team_filter = raw_world_data['position'] == 'Team'
team_filter.head(20)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
Name: position, dtype: bool

In [7]:
# Putting only team data in the team_data df
team_data = raw_world_data[team_filter]
team_data.head()

,gameid,url,league,split,date,week,game,patchno,playerid,side,...,cspm,goldat10,oppgoldat10,gdat10,goldat15,oppgoldat15,gdat15,xpat10,oppxpat10,xpdat10
10,1002360213,http://matchhistory.na.leagueoflegends.com/en/...,WC,2017-W,43001.00184,1.1,1,7.18,100,Blue,...,28.409894,15120,14976,144,23978,23297,681,19100,18934,166
11,1002360213,http://matchhistory.na.leagueoflegends.com/en/...,WC,2017-W,43001.00184,1.1,1,7.18,200,Red,...,29.088339,14976,15120,-144,23297,23978,-681,18934,19100,-166
22,1002360222,http://matchhistory.na.leagueoflegends.com/en/...,WC,2017-W,43001.06067,1.1,2,7.18,100,Blue,...,30.644628,14473,14240,233,23162,22175,987,18245,17058,1187
23,1002360222,http://matchhistory.na.leagueoflegends.com/en/...,WC,2017-W,43001.06067,1.1,2,7.18,200,Red,...,30.578512,14240,14473,-233,22175,23162,-987,17058,18245,-1187
34,1002360229,http://matchhistory.na.leagueoflegends.com/en/...,WC,2017-W,43001.10113,1.1,3,7.18,100,Blue,...,31.722416,14338,14740,-402,21389,23582,-2193,18339,18461,-122

In [8]:
# Lets do the same but this time but with the player data 
player_filter = raw_world_data['position'] != 'Team'
player_data = raw_world_data[player_filter]
player_data.head()

,gameid,url,league,split,date,week,game,patchno,playerid,side,...,cspm,goldat10,oppgoldat10,gdat10,goldat15,oppgoldat15,gdat15,xpat10,oppxpat10,xpdat10
0,1002360213,http://matchhistory.na.leagueoflegends.com/en/...,WC,2017-W,43001.00184,1.1,1,7.18,1,Blue,...,6.063604,3349,3153,196,4880,4788,92,5025,4556,469
1,1002360213,http://matchhistory.na.leagueoflegends.com/en/...,WC,2017-W,43001.00184,1.1,1,7.18,2,Blue,...,3.625442,2956,2667,289,4323,4234,89,3318,3332,-14
2,1002360213,http://matchhistory.na.leagueoflegends.com/en/...,WC,2017-W,43001.00184,1.1,1,7.18,3,Blue,...,9.222615,3140,3875,-735,5147,5799,-652,4592,5083,-491
3,1002360213,http://matchhistory.na.leagueoflegends.com/en/...,WC,2017-W,43001.00184,1.1,1,7.18,4,Blue,...,9.180212,3142,3230,-88,5372,5176,196,3112,3081,31
4,1002360213,http://matchhistory.na.leagueoflegends.com/en/...,WC,2017-W,43001.00184,1.1,1,7.18,5,Blue,...,0.318021,2533,2051,482,4256,3300,956,3053,2882,171

In [9]:
# Lets delete some useless data
player_data = player_data.drop(player_data.columns[1:9], axis = 1)

In [10]:
# Lets check agian to see if any null values
player_data.isnull().any()

gameid                     False
side                       False
position                   False
player                     False
team                       False
champion                   False
ban1                       False
ban2                       False
ban3                       False
ban4                       False
ban5                       False
gamelength                 False
result                     False
k                          False
d                          False
a                          False
teamkills                  False
teamdeaths                 False
doubles                    False
triples                    False
quadras                    False
pentas                     False
fb                         False
fbassist                   False
fbvictim                   False
fbtime                     False
kpm                        False
okpm                       False
ckpm                       False
fd                         False
                           ...
dmgtochampsperminute       False
dmgshare                   False
earnedgoldshare            False
wards                      False
wpm                        False
wardshare                  False
wardkills                  False
wcpm                       False
visionwards                False
visionwardbuys             False
visiblewardclearrate       False
invisiblewardclearrate     False
totalgold                  False
earnedgpm                  False
goldspent                  False
gspd                       False
minionkills                False
monsterkills               False
monsterkillsownjungle      False
monsterkillsenemyjungle    False
cspm                       False
goldat10                   False
oppgoldat10                False
gdat10                     False
goldat15                   False
oppgoldat15                False
gdat15                     False
xpat10                     False
oppxpat10                  False
xpdat10                    False
Length: 84, dtype: bool

In [11]:
# Fill null values with -1 for not taken
player_data = player_data.fillna(value = -1)

In [12]:
# Final check to ensure no null values
null_data = player_data.isnull().any()
null_data.any()

False

In [13]:
# No true therefore all values are filled
# Lets take another look at the player data

player_data.describe()

,gameid,gamelength,result,k,d,a,teamkills,teamdeaths,fb,fbassist,...,cspm,goldat10,oppgoldat10,gdat10,goldat15,oppgoldat15,gdat15,xpat10,oppxpat10,xpdat10
count,1.190000e+03,1190.000000,1190.00000,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000,...,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000,1190.000000
mean,1.002365e+09,35.070448,0.50000,1.950420,1.952941,5.100840,9.752101,9.764706,0.100000,0.163025,...,6.349605,3046.213445,3046.213445,0.000000,4809.666387,4809.666387,0.000000,3635.409244,3635.409244,0.000000
std,3.209351e+04,8.817276,0.50021,2.195276,1.558871,3.961537,5.848657,5.853849,0.300126,0.369544,...,3.508366,476.219585,476.219585,448.712776,795.009935,795.009935,765.965968,838.632481,838.632481,426.919828
min,1.002290e+09,20.866667,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.047923,1744.000000,1744.000000,-1823.000000,2629.000000,2629.000000,-3293.000000,1664.000000,1664.000000,-1707.000000
25%,1.002360e+09,27.483333,0.00000,0.000000,1.000000,2.000000,6.000000,6.000000,0.000000,0.000000,...,3.621609,2760.000000,2760.000000,-256.500000,4328.000000,4328.000000,-421.750000,2947.500000,2947.500000,-256.000000
50%,1.002380e+09,33.183333,0.50000,1.000000,2.000000,4.000000,10.000000,10.000000,0.000000,0.000000,...,7.653050,3119.500000,3119.500000,0.000000,4890.000000,4890.000000,0.000000,3341.000000,3341.000000,0.000000
75%,1.002390e+09,40.350000,1.00000,3.000000,3.000000,7.000000,13.000000,13.000000,0.000000,0.000000,...,9.223009,3355.000000,3355.000000,256.500000,5304.750000,5304.750000,421.750000,4492.000000,4492.000000,256.000000
max,1.002410e+09,61.816667,1.00000,19.000000,10.000000,24.000000,38.000000,38.000000,1.000000,1.000000,...,13.913713,4721.000000,4721.000000,1823.000000,7800.000000,7800.000000,3293.000000,5386.000000,5386.000000,1707.000000

In [22]:
# Lets compute the pearwise corr for the columns
player_data.corr()

# The data here is messy so lets only pull out those values that 
# Are strongly correlated I.E. > 0.8 and <-0.8

player_corr_upper = player_data.corr() > 0.8
player_corr_lower = player_data.corr() < -0.8

# Now we merge them together
player_corr = pd.DataFrame()

player_corr = player_corr.merge(player_corr_lower, player_corr_upper, how = 'inner')

TypeError: merge() got multiple values for argument 'how'